{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": ["airbnb/base"],
  "rules": {
    "consistent-return": "off",
    "max-len": "off",
    "no-param-reassign": "off",
    "no-await-in-loop": "warn"
  }
}
